.content__container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  &__title {
    margin-top: 5rem;
    font-size: 5rem;
  }
}

.main {
  &__input {
    margin-top: 2rem;
    padding: 0.3rem;

    &-text {
      font-size: 1.6rem;
    }
  }

  &__submit {
    padding: 0.3rem;
  }
}

.card__container {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid orangered;
  margin-top: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 2.5rem;
  margin: 1.5rem;

  &__city {
    font-size: 3.3rem;
    display: flex;
  }

  &__temp {
    font-size: 2rem;
    margin-top: 1rem;
  }

  &__forecast {
    font-size: 1.3rem;
  }
}

.hidden {
  display: none;
}
