.content__container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  &__title {
    color: $color-text-orange;
    margin-top: 2rem;
    font-size: 5rem;
  }
}

.main {
  &__input {
    margin: 0 auto;
    padding: 0.3rem;
    display: block;

    &-text {
      color: $color-text-orange;
      font-size: 1.6rem;
    }
  }

  &__submit {
    padding: 0.8rem;
    width: 65%;
    margin-top: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 30px;
  }
}

.card__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 2.5rem;
  margin: 1.5rem;

  &__city {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
  }

  &__temp {
    font-size: 2rem;
    margin-top: 1rem;
  }

  &__forecast {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  &__icon {
    text-align: center;
  }
}

.hidden {
  display: none;
}

header {
  border: 2px solid limegreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
