.content__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  &__title {
    margin-top: 5rem;
    font-size: 5rem;
  }
}

.main {
  &__input {
    margin-top: 2rem;
    padding: 0.3rem;

    &-text {
      font-size: 1.6rem;
    }
  }
}
